/* Write your code here */
form{
    background-color : pink;
    padding : 25px;
  }
  
  #name{
    height : 25px;
  }
  
  label[for = 'name']{
    font-style : 'italic';
  }
  
  .btn{
    margin-top: 25px;
    padding : 10px;
  }